h1 {
  margin-bottom: 0.25em;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.page__column {
  font-size: 1.5rem;
}

.page__column p {
  margin: 0.75em;
}

.sidebar {
  background: #6585cf;
  color: white;
  width: 300px;
  height: inherit;
}

.sidebar__section {
  padding: 0.5em 0.75em;
  border-bottom: white solid 1px;
}

@media print{
  .sidebar {
    display: none;
  }
}
