h1 {
  margin-bottom: 0.25em;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.page__column {
  font-size: 1.5rem;
}

.page__column p {
  margin: 0.75em;
}
